.header {
height: 10px;
overflow: hidden;
}

.logo {
  display: inline-block;
  font-size: 2.5vh;
  width: 100px;
  margin: 0 10px;
  color: grey;
}

.menu {
  display: inline-block;
}

.menu ul {
  padding: 0;
  margin: 7px auto;
}

.menu li {
  display: inline-block;
}

.menu a {
  color: grey;
  font-size: 2.5vh;
  text-decoration: none;
  padding: 10px 10px;
}

.picture {
  margin: 0 auto;
  background: url(../images/trees.jpeg);
  color: white;
  text-align: center;
}

.picture h1 {
  display: inline-block;
  height: 200px;
  width: 250px;
  font-size: 26px;
  font-weight: 400;
  position: relative;
  top: 60px;

}

.green {
  background-color: #4C9259;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-weight: 100;
  margin: 40px auto 0;
  padding: 40px;
}

h1 {
  font-weight: 100;
  font-size: 3vh;
  margin: 0;
}

h2 {
  font-weight: 100;
  font-size:16vh;
  margin: 0;
}

h3 {
  color: #9CC2A1;
  font-weight: 100;
  font-size: 2.5vh;
  margin: 0;
}

.price ul {
  list-style: none;
  text-align: center;
  padding: 0;
  text-align: center;
  margin: 0;
}

.price li {
  background: #F7F7F7;
  border: 1px solid #EDEDED;
  padding: 10px;

}

.price a {
  text-decoration: none;
  color: #59676C;
  padding: 10px;
}

.cta {
  padding: 5%;
  text-align: center;
  border: 1px solid #EDEDED;
}

.cta a {
  border: 1px solid #EDEDED;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 20px;
  margin: 10px;

}

.blue {
  background: #2A4A81;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-weight: 100;
  margin: 40px auto 0;
  padding: 40px;
}

.blue h3 {
  color: #91A1BD;
}

.black {
  background: black;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-weight: 100;
  margin: 40px auto 0;
  padding: 40px;
}

.black h3 {
  color: #868686;
}

.feature {
  margin: 10%;
}

.feature h2 {
  font-size: 3vh;
  font-weight: normal;
  text-transform: uppercase;
  width: 70%;
}

.feature p {
  font-size: 2.3vh;
  color: #6D7A7E;
  line-height: 1.5;
  letter-spacing: 1px;
}

.footer {
  background: black;
  color: #787878;
  padding: 5%;
  text-align: center;
}

.footer a {
  color: white;
  font-weight: 100;
}

@media (min-width: 0px) and (max-width: 478px)
{}

@media (min-width: 479px) and (max-width: 767px)
  {
    .picture {
      margin: 0 auto;
      background: url(../images/trees.jpeg);
      color: white;
      text-align: center;
    }

    .picture h1 {
      display: inline-block;
      height: 200px;
      width: 380px;
      font-size: 7vh;
      font-weight: 400;
      padding: 80px;
      position: relative;
      top: 30px;
      }

      .price {
        margin: 10px
      }
  }


@media (min-width: 768px) and (max-width: 978px){
  .picture {
    margin: 0 auto;
    background: url(../images/trees.jpeg);
    color: white;
    text-align: center;
  }

  .picture h1 {
    display: inline-block;
    height: 200px;
    width: 490px;
    font-size: 9vh;
    font-weight: 400;
    padding: 120px;
    position: relative;
    top: 30px;
  }

  .price {
    overflow: hidden;
    margin: 0 20px;
  }

  .small-business, .Personal, .enterprise {
    width: 31.33%;
    float: left;
    margin: 0 5px;
  }

  .price h1 {
    font-size: 2.1vh;
    letter-spacing: 2.7px;
    font-weight: normal;
  }

  .price h3 {
    font-size: 2.7vh;
    font-weight: normal;
  }

  .features {
    clear: both;
    overflow: hidden;
    margin: 60px 20px 0;
  }

  .feature {
    margin: 0 10px 0;
    width: 47%;
    float: left;
  }

  .footer {
    padding: 3%;
  }
}

@media (min-width: 979px){
  .picture {
    margin: 0 auto;
    background: url(../images/trees.jpeg);
    color: white;
    text-align: center;
  }

  .picture h1 {
    display: inline-block;
    height: 150px;
    width: 400px;
    font-size: 6vh;
    font-weight: 400;
    padding: 80px;
    position: relative;
    top: 30px;
  }

  .price {
    overflow: hidden;
    margin: 0 140px;
  }

  .small-business, .Personal, .enterprise {
    margin: 5px;
    width: 31.33%;
    float: left;
  }

  .blue, .green, .black {
    padding: 20px;
  }

    h1 {
      font-size: 2vh;
      letter-spacing: 3px;
    }

    h2 {
      font-size:12vh;
    }

    h3 {
      font-size: 2.5vh;
    }

    .price a {
      font-size: 2vh;
    }

  .features {
    clear: both;
    overflow: hidden;
    margin: 60px 160px 0;
  }

  .feature {
    margin: 0 10px 0;
    width: 47%;
    float: left;
  }

  .footer {
    padding: 2%;
    font-size: 2vh;
  }
}
