.header {
height: 10px;
}

.logo {
  display: inline-block;
  font-size: 2.5vh;
  margin: 0 10px;
  color: grey;
}

.menu {
  display: inline-block;
}

.menu ul {
  padding: 0;
  margin: 7px auto;
}

.menu li {
  display: inline-block;
}

.menu a {
  color: grey;
  font-size: 2.5vh;
  text-decoration: none;
  padding: 10px 10px;
}

.picture {
  margin: 0 auto;
  background: url("../images/new-tree.jpeg");
  color: white;
  text-align: center;
  background-size: cover;
}

.picture h1 {
  display: inline-block;
  height: 190px;
  width: 300px;
  font-size: 26px;
  font-weight: 400;
  text-shadow: 1px 1px 1px #000;
  position: relative;
  top: 60px;

}

.price {
  margin: 0 10px;
}

.plan {
  color: white;
  text-align: center;
}

.green, .blue, .black {
  text-transform: uppercase;
  font-weight: 100;
  margin: 40px auto 0;
  padding: 30px;
}

.green {
  background-color: #4C9259;
}

h1 {
  font-weight: 100;
  font-size: 3vh;
  letter-spacing: 3px;
  margin: 0;
}

h2 {
  font-weight: 100;
  font-size:16vh;
  margin: 0;
}

h3 {
  color: #9CC2A1;
  font-weight: 100;
  font-size: 2.7vh;
  font-weight: normal;
  margin: 0;
}

.price ul {
  list-style: none;
  text-align: center;
  padding: 0;
  text-align: center;
  margin: 0;
}

.price li {
  background: #F7F7F7;
  border: 1px solid #dedede;
  color: #59676C;
  padding: 11px;

}

.price a {
  text-decoration: none;
  color: #59676C;
  padding: 10px;
}

.cta {
  padding: 8%;
  text-align: center;
  border: 1px solid #dedede;
}

.cta a {
  color: #3A3A3A;
  border: 1px solid #dedede;
  font-weight: bold;
  padding: 8px 20px;
  border-radius: 20px;
  margin: 10px;

}

.blue {
  background: #2A4A81;
}

.blue h3 {
  color: #91A1BD;
}

.black {
  background: black;
}

.black h3 {
  color: #868686;
}

.feature {
  margin: 10%;
}

.feature h2 {
  font-size: 3vh;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 3px;
  width: 90%;
}

.feature p {
  font-size: 2.3vh;
  color: #6D7A7E;
  line-height: 1.5;
  letter-spacing: 1px;
}

.footer {
  background: black;
  color: #787878;
  padding: 5%;
  text-align: center;
}

.footer a {
  color: white;
  font-weight: 100;
}

@media (min-width: 0px) and (max-width: 478px)
{}

@media (min-width: 479px) and (max-width: 767px)
  {

    .picture {
      padding: 130px 0 170px;
    }

    .picture h1 {
      width: 600px;
      font-size: 8.7vh;
      }
  }

@media (min-width: 768px) and (max-width: 978px){

  .picture h1 {
    width: 650px;
    font-size: 9vh;
    padding: 120px;
    position: relative;
    top: 30px;
  }

  .price {
    overflow: hidden;
    margin: 0 20px;
  }

  .plan {
    width: 31.4%;
    float: left;
  }

.green, .blue, .black {
  padding: 40px 0;
}

.small-business{
  margin: 0 20px;
}

  .price h1 {
    font-size: 2.7vh;
    letter-spacing: 2.5px;
    font-weight: normal;
  }

  .price h3 {
    font-size: 2.9vh;
    font-weight: normal;
  }


    .plan li {
      font-size: 2.8vh;
      padding: 14px;
    }

    .cta {
      padding: 34px;
    }

  .features {
    clear: both;
    overflow: hidden;
    margin: 60px 20px 0;
  }

  .feature {
    margin: 0 10px 0;
    width: 47%;
    float: left;
  }

  .feature h2 {
    font-size: 3.5vh;
  }

  .feature p {
    font-size: 2.7vh;
  }

  .footer {
    padding: 4%;
  }
}

@media (min-width: 979px){

  .picture h1 {
    width: 600px;
    font-size: 7vh;
    font-weight: 400;
    padding: 100px;
    position: relative;
    top: 30px;
  }

  .price {
    overflow: hidden;
    margin: 10px 140px;
  }

  .small-business, .personal, .enterprise {
    width: 31.33%;
    float: left;
  }

  .small-business {
    margin: 0 20px;
  }

  .blue, .green, .black {
    padding: 30px 0;
  }

    h1 {
      font-size: 2.8vh;
      letter-spacing: 3px;
    }

    h2 {
      font-size:15vh;
    }

    h3 {
      font-size: 3vh;
    }

    .price a {
      font-size: 2vh;
    }

  .features {
    clear: both;
    overflow: hidden;
    margin: 60px 160px 0;
  }

  .feature {
    margin: 0 20px 0 0;
    width: 47%;
    float: left;
  }


  .footer {
    padding: 2%;
    font-size: 2vh;
  }
}
